*{

box-sizing:border-box;

}


html{

scroll-behavior:smooth;

}



body{

margin:0;

font-family:"Segoe UI",Arial,sans-serif;

background:#f5f7fb;

color:#222;

transition:0.3s;

}





header{

background:#2c3e50;

color:white;

padding:20px 50px;

display:flex;

justify-content:space-between;

align-items:center;

position:sticky;

top:0;

z-index:10;

}



header h1{

margin:0;

}



nav a{

color:white;

text-decoration:none;

margin-left:25px;

font-weight:500;

}



nav a:hover{

color:#1abc9c;

}





main{

max-width:1100px;

margin:auto;

padding:30px;

}






.card{

background:white;

padding:35px;

margin-bottom:30px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,0.08);

}






.about{

display:flex;

align-items:center;

gap:40px;

}



.about img{

width:160px;

height:160px;

border-radius:50%;

object-fit:cover;

}





.skills{

display:flex;

gap:15px;

flex-wrap:wrap;

}



.skills span{

background:#3498db;

color:white;

padding:12px 20px;

border-radius:25px;

}





.feature-container{

display:flex;

gap:25px;

flex-wrap:wrap;

}





.feature-card{

flex:1;

min-width:260px;

background:#f8f9fa;

padding:25px;

border-radius:15px;

}





input,
textarea{

width:100%;

padding:12px;

margin:10px 0;

border-radius:8px;

border:1px solid #ccc;

font-size:15px;

}





button{

background:#16a085;

color:white;

border:none;

padding:12px 20px;

border-radius:8px;

cursor:pointer;

}



button:hover{

opacity:0.85;

}





#quoteData{

margin-top:15px;

font-style:italic;

}





#itemList li{

margin:8px;

}





footer{

background:#2c3e50;

color:white;

text-align:center;

padding:15px;

}







/* DARK MODE */


body.dark{

background:#121212;

color:white;

}



body.dark .card{

background:#1e1e1e;

}



body.dark .feature-card{

background:#292929;

}



body.dark input,
body.dark textarea{

background:#333;

color:white;

}





body.dark header,
body.dark footer{

background:black;

}





@media(max-width:700px){


header{

flex-direction:column;

}


nav{

margin-top:15px;

}


.about{

flex-direction:column;

}
#quoteData {
    margin-top: 20px;
    padding: 15px;
    border-left: 4px solid #16a085;
}


#quoteData p {
    font-size: 16px;
    line-height: 1.6;
}


#quoteData h4 {
    text-align: right;
    margin-top: 15px;
}



}